include setup.py
include scripts/halberd

recursive-include Halberd *.py

include tests/*.py
recursive-include tests/data *.clu

include man/man1/halberd.1
include doc/GNUmakefile doc/manual.tex
recursive-include doc/api *

include AUTHORS
include ChangeLog
include README
include INSTALL
#include MANIFEST.in
include GNUmakefile
include TODO
