include setup.py

include halberd.py
include halberd.cfg

recursive-include hlbd *.py

include tests/*.py
recursive-include tests/data *.clu

include doc/*.txt
include doc/*.html doc/*.css
recursive-include doc/api *

include AUTHORS ChangeLog LICENSE README THANKS MANIFEST.in

include GNUmakefile
